<h2>Books</h2>

<% @books.each do |book| %>
  <div>
    <h5>Title</h5>
    <span><%= book.title %></span>

    <h5>Body</h5>
    <span><%= book.body %></span>
    <span>
      <%= link_to "Show", book_path(book.id) %>
    </span>

    <%= link_to "Edit", edit_books_path(book.id) %>
    <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  </div>
<% end %>

<h3>New book</h3>
    <% if @book.errors.any? %>
      <%= @book.errors.count %>errors prohibited this book from being saved
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li>・Title can't be blank</li>
          <li>・Body can't be blank</li>
        <% end %>
      </ul>
    <% end %>

<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Body</p>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>