<div>
  <%= flash[:notice] %>
</div>

<div>
  <p>Title</p>
  <p><%= @book.title %></p>
</div>

<div>
  <p>Body</p>
  <p><%= @book.body %></p>
</div>

<p><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %></p>